html {
	margin: 0;
	padding: 0;
}
	
body {
	font-family:Arial, Helvetica, sans-serif;	
	line-height:18px;
	font-size:14px;
	color: black; 
	background: #FFFFCC; 
	margin: 10; 
	padding: 10;
}

body a:link, a:active, a:visited{
	color:blue;
}

body a:hover{
	text-decoration:underline;
}
h1 {
   padding: 5px;
   border-bottom-color: #669999;
   border-bottom-style: solid;
}
hr {
   color: #669999;
   background-color:#669999;
}
p{
	margin: 5px;
	padding: 5px;
}
textarea {
  border: 3px solid #cccccc;
        padding: 5px;
#        font-family: Tahoma, sans-serif;
	width: 90%;

}
br {
   padding: 5px;
}

ul {
    padding-top, padding-bottom: 0px;
    margin-top, margin-bottom: 0px;

}

li {
	padding-left: 7px;
	margin-bottom: 0px;
}

acronym {
	border-bottom: none;
}

/* content div's */


.container { 
	   margin:		0 auto;
	   text-align: 		  left;
	   width:	720px;
	   background-color:white;
	   position:					relative;
	   padding:	5px;
	   padding-left: 5px;
	   padding-right: 5px;
	   display: block;
}
.bold {
font-weight:bold;
}

.italic {
font-style:italic;
}

table, th, td {
    border: 0px ;
}

td {
text-align: left;
padding: 10px;
}

*.lbl {
  font-weight: bold;
}

*.user_content {
  font-style: italic;
  color: green;
}
