<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	Hi, <%= @user.name %>

	It's time to fill in your nightly survey. Follow the link at: <%= link_to "today's posts",  root_url << "home?id=" << @user.link << ";date=" << @yesterday.strftime('%Y/%m/%d') %> to complete this survey.
	
	You can also view all of your posts for the study on this page: <%= link_to "all posts", root_url << "home?id=" << @user.link %>
  </body>
</html>