<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div id="yourtask" style="margin-top: 0px; margin-right: 0px;
          margin-bottom: 0px; margin-left: 0px; padding-top: 0px;
          padding-right: 0px; padding-bottom: 0px; padding-left: 0px;
          border-top-width: 0px; border-right-width: 0px;
          border-bottom-width: 0px; border-left-width: 0px; border-style:
          initial; border-color: initial; font-size: 12px; vertical-align:
          baseline; background-image: initial; background-attachment:
          initial; background-origin: initial; background-clip: initial;
          background-color: rgb(255, 255, 255); color: rgb(54, 54, 57);
          font-family: Arial, Helvetica, sans-serif; font-style: normal;
          font-variant: normal; font-weight: normal; letter-spacing: normal;
          line-height: 16px; orphans: 2; text-align: -webkit-auto;
          text-indent: 0px; text-transform: none; white-space: normal;
          widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto;
          -webkit-text-stroke-width: 0px; background-position: initial
          initial; background-repeat: initial initial; ">
          <h3 style="margin-top: 0px; margin-right: 0px; margin-bottom: 5px;
            margin-left: 0px; padding-top: 0px; padding-right: 0px;
            padding-bottom: 0px; padding-left: 0px; border-top-width: 0px;
            border-right-width: 0px; border-bottom-width: 0px;
            border-left-width: 0px; border-style: initial; border-color:
            initial; font-size: 15px; vertical-align: baseline;
            background-image: initial; background-attachment: initial;
            background-origin: initial; background-clip: initial;
            background-color: transparent; font-weight: normal; color:
            rgb(255, 102, 0); background-position: initial initial;
            background-repeat: initial initial; ">Your Tasks</h3>
          <p style="margin-top: 1em; margin-right: 0px; margin-bottom: 1em;
            margin-left: 0px; padding-top: 0px; padding-right: 0px;
            padding-bottom: 0px; padding-left: 0px; border-top-width: 0px;
            border-right-width: 0px; border-bottom-width: 0px;
            border-left-width: 0px; border-style: initial; border-color:
            initial; font-size: 12px; vertical-align: baseline;
            background-image: initial; background-attachment: initial;
            background-origin: initial; background-clip: initial;
            background-color: transparent; background-position: initial
            initial; background-repeat: initial initial; ">Over the next<span
              class="Apple-converted-space">&nbsp;</span><strong
              style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px;
              margin-left: 0px; padding-top: 0px; padding-right: 0px;
              padding-bottom: 0px; padding-left: 0px; border-top-width: 0px;
              border-right-width: 0px; border-bottom-width: 0px;
              border-left-width: 0px; border-style: initial; border-color:
              initial; font-size: 12px; vertical-align: baseline;
              background-image: initial; background-attachment: initial;
              background-origin: initial; background-clip: initial;
              background-color: transparent; background-position: initial
              initial; background-repeat: initial initial; ">7 days please
              send us everything you think about sharing on Facebook but
              decide not to post</strong>.&nbsp; As you go about your daily
            activities we want you to text us any ideas for posts (status
            updates, pictures, comments, etc) that you consider sharing, but
            end up deciding not to post.&nbsp; To do this:</p>
          <ol style="margin-top: 0px; margin-right: 0px; margin-bottom: 1em;
            margin-left: 2em; padding-top: 0px; padding-right: 0px;
            padding-bottom: 0px; padding-left: 0px; border-top-width: 0px;
            border-right-width: 0px; border-bottom-width: 0px;
            border-left-width: 0px; border-style: initial; border-color:
            initial; font-size: 12px; vertical-align: baseline;
            background-image: initial; background-attachment: initial;
            background-origin: initial; background-clip: initial;
            background-color: transparent; list-style-type: decimal;
            list-style-position: initial; list-style-image: initial;
            background-position: initial initial; background-repeat: initial
            initial; ">
            <li style="margin-top: 0px; margin-right: 0px; margin-bottom:
              0px; margin-left: 0px; padding-top: 0px; padding-right: 0px;
              padding-bottom: 0px; padding-left: 0px; border-top-width: 0px;
              border-right-width: 0px; border-bottom-width: 0px;
              border-left-width: 0px; border-style: initial; border-color:
              initial; font-size: 12px; vertical-align: baseline;
              background-image: initial; background-attachment: initial;
              background-origin: initial; background-clip: initial;
              background-color: transparent; background-position: initial
              initial; background-repeat: initial initial; "><b
                style="margin-top: 0px; margin-right: 0px; margin-bottom:
                0px; margin-left: 0px; padding-top: 0px; padding-right: 0px;
                padding-bottom: 0px; padding-left: 0px; border-top-width:
                0px; border-right-width: 0px; border-bottom-width: 0px;
                border-left-width: 0px; border-style: initial; border-color:
                initial; font-size: 12px; vertical-align: baseline;
                background-image: initial; background-attachment: initial;
                background-origin: initial; background-clip: initial;
                background-color: transparent; background-position: initial
                initial; background-repeat: initial initial; ">Enroll:</b><span
                class="Apple-converted-space">&nbsp;</span>Send a text message
              with only your email address to (412) 357-4034 to enroll.</li>
            <li style="margin-top: 0px; margin-right: 0px; margin-bottom:
              0px; margin-left: 0px; padding-top: 0px; padding-right: 0px;
              padding-bottom: 0px; padding-left: 0px; border-top-width: 0px;
              border-right-width: 0px; border-bottom-width: 0px;
              border-left-width: 0px; border-style: initial; border-color:
              initial; font-size: 12px; vertical-align: baseline;
              background-image: initial; background-attachment: initial;
              background-origin: initial; background-clip: initial;
              background-color: transparent; background-position: initial
              initial; background-repeat: initial initial; "><b
                style="margin-top: 0px; margin-right: 0px; margin-bottom:
                0px; margin-left: 0px; padding-top: 0px; padding-right: 0px;
                padding-bottom: 0px; padding-left: 0px; border-top-width:
                0px; border-right-width: 0px; border-bottom-width: 0px;
                border-left-width: 0px; border-style: initial; border-color:
                initial; font-size: 12px; vertical-align: baseline;
                background-image: initial; background-attachment: initial;
                background-origin: initial; background-clip: initial;
                background-color: transparent; background-position: initial
                initial; background-repeat: initial initial; ">Text Ideas:</b><span
                class="Apple-converted-space">&nbsp;</span>Whenever you think of
              something to share but decide not to post send a text message
              to (412) 357-4034.&nbsp; This text message should contain:
              <ul style="margin-top: 0px; margin-right: 0px; margin-bottom:
                1em; margin-left: 2em; padding-top: 0px; padding-right: 0px;
                padding-bottom: 0px; padding-left: 0px; border-top-width:
                0px; border-right-width: 0px; border-bottom-width: 0px;
                border-left-width: 0px; border-style: initial; border-color:
                initial; font-size: 12px; vertical-align: baseline;
                background-image: initial; background-attachment: initial;
                background-origin: initial; background-clip: initial;
                background-color: transparent; list-style-type: disc;
                list-style-position: initial; list-style-image: initial;
                background-position: initial initial; background-repeat:
                initial initial; ">
                <li style="margin-top: 0px; margin-right: 0px;
                  margin-bottom: 0px; margin-left: 0px; padding-top: 0px;
                  padding-right: 0px; padding-bottom: 0px; padding-left:
                  0px; border-top-width: 0px; border-right-width: 0px;
                  border-bottom-width: 0px; border-left-width: 0px;
                  border-style: initial; border-color: initial; font-size:
                  12px; vertical-align: baseline; background-image: initial;
                  background-attachment: initial; background-origin:
                  initial; background-clip: initial; background-color:
                  transparent; background-position: initial initial;
                  background-repeat: initial initial; ">what the post would
                  have contained (e.g. the text for a comment or status
                  update or a description of a photo or video)</li>
                <li style="margin-top: 0px; margin-right: 0px;
                  margin-bottom: 0px; margin-left: 0px; padding-top: 0px;
                  padding-right: 0px; padding-bottom: 0px; padding-left:
                  0px; border-top-width: 0px; border-right-width: 0px;
                  border-bottom-width: 0px; border-left-width: 0px;
                  border-style: initial; border-color: initial; font-size:
                  12px; vertical-align: baseline; background-image: initial;
                  background-attachment: initial; background-origin:
                  initial; background-clip: initial; background-color:
                  transparent; background-position: initial initial;
                  background-repeat: initial initial; ">the type of post
                  (e.g. wall post, picture, link, etc)</li>
              </ul>
            </li>
            <li style="margin-top: 0px; margin-right: 0px; margin-bottom:
              0px; margin-left: 0px; padding-top: 0px; padding-right: 0px;
              padding-bottom: 0px; padding-left: 0px; border-top-width: 0px;
              border-right-width: 0px; border-bottom-width: 0px;
              border-left-width: 0px; border-style: initial; border-color:
              initial; font-size: 12px; vertical-align: baseline;
              background-image: initial; background-attachment: initial;
              background-origin: initial; background-clip: initial;
              background-color: transparent; background-position: initial
              initial; background-repeat: initial initial; "><b
                style="margin-top: 0px; margin-right: 0px; margin-bottom:
                0px; margin-left: 0px; padding-top: 0px; padding-right: 0px;
                padding-bottom: 0px; padding-left: 0px; border-top-width:
                0px; border-right-width: 0px; border-bottom-width: 0px;
                border-left-width: 0px; border-style: initial; border-color:
                initial; font-size: 12px; vertical-align: baseline;
                background-image: initial; background-attachment: initial;
                background-origin: initial; background-clip: initial;
                background-color: transparent; background-position: initial
                initial; background-repeat: initial initial; ">Nightly
                Survey:</b><span class="Apple-converted-space">&nbsp;</span>You
              will receive an e-mail with a link to a brief survey based on
              the texts you send at the end of each day.&nbsp; Please click on
              the link and complete the surveys (you will be compensated
              $2/survey at the end of the study).</li>
            <li style="margin-top: 0px; margin-right: 0px; margin-bottom:
              0px; margin-left: 0px; padding-top: 0px; padding-right: 0px;
              padding-bottom: 0px; padding-left: 0px; border-top-width: 0px;
              border-right-width: 0px; border-bottom-width: 0px;
              border-left-width: 0px; border-style: initial; border-color:
              initial; font-size: 12px; vertical-align: baseline;
              background-image: initial; background-attachment: initial;
              background-origin: initial; background-clip: initial;
              background-color: transparent; background-position: initial
              initial; background-repeat: initial initial; "><b
                style="margin-top: 0px; margin-right: 0px; margin-bottom:
                0px; margin-left: 0px; padding-top: 0px; padding-right: 0px;
                padding-bottom: 0px; padding-left: 0px; border-top-width:
                0px; border-right-width: 0px; border-bottom-width: 0px;
                border-left-width: 0px; border-style: initial; border-color:
                initial; font-size: 12px; vertical-align: baseline;
                background-image: initial; background-attachment: initial;
                background-origin: initial; background-clip: initial;
                background-color: transparent; background-position: initial
                initial; background-repeat: initial initial; ">Interview:</b><span
                class="Apple-converted-space">&nbsp;</span>The study will run for
              7 days. If you fill out at least 4 of the nightly surveys, we
              will contact you to schedule a time come in to our lab on the
              Carnegie Mellon campus for an one-hour long interview at the
              end of the 7 day period.&nbsp; You will be compensated $20 for the
              interview.</li>
          </ol>
          <p style="margin-top: 1em; margin-right: 0px; margin-bottom: 1em;
            margin-left: 0px; padding-top: 0px; padding-right: 0px;
            padding-bottom: 0px; padding-left: 0px; border-top-width: 0px;
            border-right-width: 0px; border-bottom-width: 0px;
            border-left-width: 0px; border-style: initial; border-color:
            initial; font-size: 12px; vertical-align: baseline;
            background-image: initial; background-attachment: initial;
            background-origin: initial; background-clip: initial;
            background-color: transparent; background-position: initial
            initial; background-repeat: initial initial; "><span
              class="bold" style="margin-top: 0px; margin-right: 0px;
              margin-bottom: 0px; margin-left: 0px; padding-top: 0px;
              padding-right: 0px; padding-bottom: 0px; padding-left: 0px;
              border-top-width: 0px; border-right-width: 0px;
              border-bottom-width: 0px; border-left-width: 0px;
              border-style: initial; border-color: initial; font-size: 12px;
              vertical-align: baseline; background-image: initial;
              background-attachment: initial; background-origin: initial;
              background-clip: initial; background-color: transparent;
              font-weight: bold; background-position: initial initial;
              background-repeat: initial initial; ">Please remember</span>,
            during this study you may provide information that may relate to
            other people. When providing such information, please only
            identify other people by first name or nickname. To maintain
            their privacy,<span class="Apple-converted-space">&nbsp;</span><span
              class="bold" style="margin-top: 0px; margin-right: 0px;
              margin-bottom: 0px; margin-left: 0px; padding-top: 0px;
              padding-right: 0px; padding-bottom: 0px; padding-left: 0px;
              border-top-width: 0px; border-right-width: 0px;
              border-bottom-width: 0px; border-left-width: 0px;
              border-style: initial; border-color: initial; font-size: 12px;
              vertical-align: baseline; background-image: initial;
              background-attachment: initial; background-origin: initial;
              background-clip: initial; background-color: transparent;
              font-weight: bold; background-position: initial initial;
              background-repeat: initial initial; ">please do not include
              other people's full names, Facebook identifiers, email
              addresses, phone numbers, or addresses.</span></p>
        </div>
        <div id="payment" style="margin-top: 0px; margin-right: 0px;
          margin-bottom: 0px; margin-left: 0px; padding-top: 0px;
          padding-right: 0px; padding-bottom: 0px; padding-left: 0px;
          border-top-width: 0px; border-right-width: 0px;
          border-bottom-width: 0px; border-left-width: 0px; border-style:
          initial; border-color: initial; font-size: 12px; vertical-align:
          baseline; background-image: initial; background-attachment:
          initial; background-origin: initial; background-clip: initial;
          background-color: rgb(255, 255, 255); color: rgb(54, 54, 57);
          font-family: Arial, Helvetica, sans-serif; font-style: normal;
          font-variant: normal; font-weight: normal; letter-spacing: normal;
          line-height: 16px; orphans: 2; text-align: -webkit-auto;
          text-indent: 0px; text-transform: none; white-space: normal;
          widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto;
          -webkit-text-stroke-width: 0px; background-position: initial
          initial; background-repeat: initial initial; ">
          <h3 style="margin-top: 0px; margin-right: 0px; margin-bottom: 5px;
            margin-left: 0px; padding-top: 0px; padding-right: 0px;
            padding-bottom: 0px; padding-left: 0px; border-top-width: 0px;
            border-right-width: 0px; border-bottom-width: 0px;
            border-left-width: 0px; border-style: initial; border-color:
            initial; font-size: 15px; vertical-align: baseline;
            background-image: initial; background-attachment: initial;
            background-origin: initial; background-clip: initial;
            background-color: transparent; font-weight: normal; color:
            rgb(255, 102, 0); background-position: initial initial;
            background-repeat: initial initial; ">Payment</h3>
          <p class="p1" style="margin-top: 1em; margin-right: 0px;
            margin-bottom: 1em; margin-left: 0px; padding-top: 0px;
            padding-right: 0px; padding-bottom: 0px; padding-left: 0px;
            border-top-width: 0px; border-right-width: 0px;
            border-bottom-width: 0px; border-left-width: 0px; border-style:
            initial; border-color: initial; font-size: 12px; vertical-align:
            baseline; background-image: initial; background-attachment:
            initial; background-origin: initial; background-clip: initial;
            background-color: transparent; background-position: initial
            initial; background-repeat: initial initial; ">You will be paid
            $2 for each of the nightly surveys you complete. If you fill out
            at least 4 of the nightly surveys, you will qualify for a final
            interview. You will be paid a $20 flat rate for completing the
            interview. You will<span class="Apple-converted-space">&nbsp;</span><span
              class="bold" style="margin-top: 0px; margin-right: 0px;
              margin-bottom: 0px; margin-left: 0px; padding-top: 0px;
              padding-right: 0px; padding-bottom: 0px; padding-left: 0px;
              border-top-width: 0px; border-right-width: 0px;
              border-bottom-width: 0px; border-left-width: 0px;
              border-style: initial; border-color: initial; font-size: 12px;
              vertical-align: baseline; background-image: initial;
              background-attachment: initial; background-origin: initial;
              background-clip: initial; background-color: transparent;
              font-weight: bold; background-position: initial initial;
              background-repeat: initial initial; ">not</span><span
              class="Apple-converted-space">&nbsp;</span>be reimbursed for any
            text messaging fees that may occur.</p>
          <h3 style="margin-top: 0px; margin-right: 0px; margin-bottom: 5px;
            margin-left: 0px; padding-top: 0px; padding-right: 0px;
            padding-bottom: 0px; padding-left: 0px; border-top-width: 0px;
            border-right-width: 0px; border-bottom-width: 0px;
            border-left-width: 0px; border-style: initial; border-color:
            initial; font-size: 15px; vertical-align: baseline;
            background-image: initial; background-attachment: initial;
            background-origin: initial; background-clip: initial;
            background-color: transparent; font-weight: normal; color:
            rgb(255, 102, 0); background-position: initial initial;
            background-repeat: initial initial; ">Contact Information</h3>
          <p class="p1" style="margin-top: 1em; margin-right: 0px;
            margin-bottom: 1em; margin-left: 0px; padding-top: 0px;
            padding-right: 0px; padding-bottom: 0px; padding-left: 0px;
            border-top-width: 0px; border-right-width: 0px;
            border-bottom-width: 0px; border-left-width: 0px; border-style:
            initial; border-color: initial; font-size: 12px; vertical-align:
            baseline; background-image: initial; background-attachment:
            initial; background-origin: initial; background-clip: initial;
            background-color: transparent; background-position: initial
            initial; background-repeat: initial initial; ">If you have
            questions, please email <a class="moz-txt-link-abbreviated" href="mailto:facebookgroups@cups.cs.cmu.edu">facebookgroups@cups.cs.cmu.edu</a>. We will<span
              class="Apple-converted-space">&nbsp;</span><b style="margin-top:
              0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;
              padding-top: 0px; padding-right: 0px; padding-bottom: 0px;
              padding-left: 0px; border-top-width: 0px; border-right-width:
              0px; border-bottom-width: 0px; border-left-width: 0px;
              border-style: initial; border-color: initial; font-size: 12px;
              vertical-align: baseline; background-image: initial;
              background-attachment: initial; background-origin: initial;
              background-clip: initial; background-color: transparent;
              background-position: initial initial; background-repeat:
              initial initial; ">not</b><span class="Apple-converted-space">&nbsp;</span>respond
            to questions sent to the phone number provided for text
            messaging.</p>
          <p class="p1" style="margin-top: 1em; margin-right: 0px;
            margin-bottom: 1em; margin-left: 0px; padding-top: 0px;
            padding-right: 0px; padding-bottom: 0px; padding-left: 0px;
            border-top-width: 0px; border-right-width: 0px;
            border-bottom-width: 0px; border-left-width: 0px; border-style:
            initial; border-color: initial; font-size: 12px; vertical-align:
            baseline; background-image: initial; background-attachment:
            initial; background-origin: initial; background-clip: initial;
            background-color: transparent; background-position: initial
            initial; background-repeat: initial initial; ">Before we get
            started, please provide us with your contact information.</p>
        </div>
        <br>
    
    
  </body>
</html>